.main_wrapper
    min-height: calc(100vh - 150px)
    margin-top: 15px

    .input_wrapper
        display: flex
        flex-direction: row
        width: 100%
        height: calc(85vh - 150px)
        margin: auto
        justify-content: space-around
        align-items: center
    
    .comparison_wrapper
        margin-top: 10px
        display: flex
        min-height: 15vh
        justify-content: center
        align-items: center
        background: #333333
        color: white
        display: flex
        flex-direction: column

        .parts_wrapper
            display: flex
            flex-direction: row
            width: 100%
            justify-content: space-evenly
