.video_wrapper
    width: 600px
    background: #dfdfdf
    height: 100%
    display: flex
    position: relative
    flex-direction: column
    align-items: center
    justify-content: center

    .top_section
        background: #5c5c5c
        width: 100%
        height: 100px
        padding: 10px 0 
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-around

        h1
            margin: 0

    .video_section
        background: #cecece
        width: 100%
        min-height: calc( 100% - 100px )
        padding: 10px 0
        display: flex
        justify-content: center

        video
            height: 100%
        
        // canvas
        //     height: 100%
        //     width: 100%
            // background: red